/*estilos del anuario, práctica correspondiente al curso "Introducción al software de control de versiones GIT"*/
/*estilos del anuario, práctica correspondiente al curso "Introducción al software de control de versiones GIT"*/
.imagen_flotante 
{
	float: left;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-left:15px;
}

.imagen_flotante img
{
	width: 256px;
	height: 256px;
}

p 
{
        display: inline;
}

span 
{
	display: none;
}

h1 
{
	text-align: center;
}
